<a href="https://colab.research.google.com/github/kalix-jm/programming/blob/kalix-jm-patch-1/OperacionesPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Con pandas podemos crear nuestras tablas tipo (por decirlo asi) excel de la siguiente manera:

In [4]:
import pandas as pn

empleado = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Rosa','Mary','Pepe','Chencha'],'Salario por hora':[12,15,20,30,5]}

tabla1 = pn.DataFrame(empleado)
print(tabla1)

   Numero   Nombre  Salario por hora
0       1     Espe                12
1       2     Rosa                15
2       3     Mary                20
3       4     Pepe                30
4       5  Chencha                 5

Podemos notar que de la tabla resultante, del lado derecho van del 0 al 4, esto es por la indexacion de python que le da a cada linea

Una vez dicho eso, ahora podemos seleccionar la cantidad de elementos que queremos que se impriman en nuestra tabla, para esto, vamos a poner entre los parentesis **el numero de la linea hasta la cual queremos llegar** desde la cima, **no la indexacion**

In [5]:
import pandas as pn

empleado = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Rosa','Mary','Pepe','Chencha'],'Salario por hora':[12,15,20,30,5]}

#En este ejemplo quiero llegar hasta la linea 3 es decir que me de los datos hasta Mary
tabla1 = pn.DataFrame(empleado)
print(tabla1.head(3))

   Numero Nombre  Salario por hora
0       1   Espe                12
1       2   Rosa                15
2       3   Mary                20

Ahora sabremos como generar la tabla a partir **de abajo hacia arriba** para esto hacemos lo siguiente y empieza a contar desde 1 siendo el ultimo elemento

In [ ]:
import pandas as pn

empleado = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Rosa','Mary','Pepe','Chencha'],'Salario por hora':[12,15,20,30,5]}

tabla1 = pn.DataFrame(empleado)
#Para la ultima linea
print(tabla1.tail(1))
#Para las 4 ultimas lineas
print(tabla1.tail(4))

Ahora vamos a utilizr la funcion merge la cual mezcla 2 o mas tablas y el metodo en el que funciona es que da por resultado en la consola aquellas lineas las cuales cuales son coincidentes en todos sus elementos

In [ ]:
import pandas as pn

empleado1 = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Rosa','Mary','Pepe','Ana'],'Salario por hora':[12,15,20,30,8]}
empleado2 = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Pacha','Mary','Pepe','Ana'],'Salario por hora':[12,15,20,30,5]}

mezcla1 = pn.DataFrame(empleado1)
mezcla2 = pn.DataFrame(empleado2)


fusion = pn.merge(mezcla1,mezcla2)
print(fusion)

Ahora podemos filtrar nuestra tabla(base de datos) por factor, que tengan en comun y asi Ã¨ste aparecera en la consola ejemplo:

In [13]:
import pandas as pn

empleado1 = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Rosa','Mary','Pepe','Ana'],'Salario por hora':[12,15,20,30,8]}
empleado2 = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Pacha','Mary','Pepe','Ana'],'Salario por hora':[12,15,20,30,5]}

mezcla1 = pn.DataFrame(empleado1)
mezcla2 = pn.DataFrame(empleado2)


fusion = pn.merge(mezcla1,mezcla2,on='Salario por hora')
print(fusion)

   Numero_x Nombre_x  Salario por hora  Numero_y Nombre_y
0         1     Espe                12         1     Espe
1         2     Rosa                15         2    Pacha
2         3     Mary                20         3     Mary
3         4     Pepe                30         4     Pepe

Aora vamos aaprender como unir las tablas:

In [18]:
import pandas as pn

empleado = {'Numero':[1,2,3,4,5],'Nombre':['Espe','Rosa','Mary','Pepe','Ana'],'Salario por hora':[12,15,20,30,8]}
comidas = {'tipo':['albondigas','huevos','pozole','carne','pescado'],'preciio':[250,30,300,200,500],'color':['rojo','blanco','rojo','cafe','arena']}

tabla1 = pn.DataFrame(empleado)
tabla2 = pn.DataFrame(comidas)

union = tabla1.join(tabla2)

print(union)

   Numero Nombre  Salario por hora        tipo  preciio   color
0       1   Espe                12  albondigas      250    rojo
1       2   Rosa                15      huevos       30  blanco
2       3   Mary                20      pozole      300    rojo
3       4   Pepe                30       carne      200    cafe
4       5    Ana                 8     pescado      500   arena

Por ultimo aprenderemos a convertir un archivo de extension .cvs a un archivo html

In [ ]:
import pandas as pn 

caracter = pn.read_csv(ruta\archivo.csv)
caracter.to_html('Nice caracter')

Y con esto se nos creara un archivo llamado 'Nice caracter.html' el cual conbtendra los datos de nuestro archivo .csv y de esta manera podremos convertir varios tipos de archivos a otros tantos.